<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.linnca.pelicann">

    <!-- so we can connect to wikiData -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- right to left support tag needed for firebase ui -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.linnca.pelicann.gui.Splash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name="com.linnca.pelicann.userinterestcontrols.FacebookInterestFinder"
            android:exported="false"/>

        <activity
            android:name="com.linnca.pelicann.gui.Onboarding"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.linnca.pelicann.gui.MainActivity">
        </activity>
    </application>

</manifest>