<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linnca.pelicann">

    <!-- so we can connect to wikiData -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--for when the user inputs the wrong answer but can try again-->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- right to left support tag needed for firebase ui -->
    <application
        android:name=".mainactivity.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme.Blue"
        >
        <activity
            android:name=".mainactivity.Splash"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
        <service
            android:name=".userinterestcontrols.FacebookInterestFinder"
            android:exported="false" />
        -->
        <activity
            android:name=".onboarding.Onboarding"
            android:theme="@style/AppTheme.Blue"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".mainactivity.MainActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".tutorial.TutorialActivity"
                  android:screenOrientation="portrait"/>
    </application>

</manifest>